@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "reset.css";
@import "variables.css";
/* 컴포넌트 */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-components.css";
@import "components/badge.css";
/* 화면 */
@import "login.css";
@import "screens/friends.css";
@import "screens/find.css";

body {
  color: #2e363e;
  font-family: "Rubik", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

.point-notification {
  background-color: tomato;
  width: 6px;
  height: 6px;
  display: flex;
  border-radius: 3px;
  position: absolute;
  right: -7px;
  bottom: 30px;
}
